* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #111;
  /* font-size: 1rem; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
a {
  text-decoration: none;
  color: deeppink;
}
.logoBlock {
  background-color: #111;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
}
.logoBlock a {
  color: yellow;
}
.menuBlock ul {
  display: flex;
  list-style: none;
}
.menuBlock ul li a {
  background-color: yellow;
  color: black;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1px;
  box-shadow: inset 0px -1px 0px 1px black;
  transition: ease-in-out 0.3s all;
}
.menuBlock ul li a:hover {
  background-color: black;
  color: yellow;
  border: 1px solid crimson;
}
#empTable article {
  background-color: #555;
  margin: 0 auto;
  padding: 10px;
  width: 85%;
  height: 75vh;
}
#empTable article table {
  width: 100%;
  border-collapse: collapse;
  color: #111;
}
tr,
td,
th {
  border-collapse: collapse;
  padding: 10px;
  color: #fff;
  text-transform: capitalize;
  text-align: center;
  border: 1px solid yellow;
}
thead {
  background-color: yellow;
  border: 1px solid black;
}
thead th {
  color: #111;
}
#authBlock{
  width: 85%;
  margin:0 auto;
}
#authBlock article{
  background-color: #555;
  margin: 20px auto;
  padding: 10px;
height: 75vh;
}
#authBlock article div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: inherit;
}
#authBlock article div h2{
  color: yellow;
  font-weight: bold;
  text-transform: capitalize;
}
#authBlock article div form{
  background-color: #111;
  padding:20px;
  width:25%;
  height:auto;
  margin: 20px 0;
  border-radius: 4px;
  border-bottom: 1px solid yellow;
}
#authBlock article div label{
  width:100%;
  padding: 7px 0;
  text-transform: capitalize;
  font-weight: bold;
}
#authBlock article div input{
  width:100%;
  padding:10px 0;
  background-color: #555;
  border-radius: 4px;
  margin:10px 0;
  border:none;
}
#authBlock article div button{
padding: 10px 20px;
width:100%;
border:none;
background-color: yellow;
color:#111;
border-radius: 4px;
margin:10px 0;
font-weight: bold;
font-size:16px;
}
#authBlock article div button:hover{
  background-color: #111;
  color:#fff;
  border: 1px solid yellow;
  border-radius: 4px;
}